.players-container {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: rgba(0, 0, 0, .3);
  width: 250px;
  padding: 0.5rem;
  flex-direction: column;
  display: flex;
}

.players-container h2 {
  margin-bottom: 1rem;
}

.connected-player {
  color: #fff
}

.connected-player+.connected-player {
  margin-top: .5rem;
}